click==8.2.1
docx==0.2.4
Flask==3.1.1
Jinja2==3.1.6
matplotlib==3.8.2
numpy==2.3.1
pandas==2.3.0
psutil==6.1.1
python_docx==1.1.2
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.4
scikit_learn==1.4.0
scipy==1.16.0
seaborn==0.13.2
tqdm==4.66.1
umap_learn==0.5.7
xlsxwriter==3.2.5
